{% extends "base.html" %}

{% block title %}All documents{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_document').change(function() {
		var newname = $('#id_document').val().replace('C:\\fakepath\\','').replace('.pdf','').split(/[_]+/).pop();
		$('#id_title').val(newname);
	});
});
</script>
{% endblock %}

{% block header %}
	<h2>Add a new document</h2>
{% endblock %}

{% block main %}
	<form action="" method="POST" enctype="multipart/form-data">
		{{form.as_p}}
		<input type="submit" name="submit" value="Submit" />
	</form>
{% endblock %}