{% extends "base.html" %}

{% block title %}All documents{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
    $(".copy").zclip({
        path: "{{MEDIA_URL}}js/zclip/ZeroClipboard.swf",
        copy: window.location.href,
        afterCopy:function(){
            alert("Squad URL copied to clipboard.");
        }
    });
});
</script>
{% endblock %}

{% block header %}
	<h2>All documents</h2>
{% endblock %}

{% block main %}
	<table style="width: 90%;">
		<tr>
			<th>Document Name</th>
			<th>Cat</th>
			<th>Filename</th>
			<th>Copy</th>
			<th>Created By</th>
			<th style="width: 10%;">Last</th>
			<th>Modified On</th>
			<th>Edit</th>
		</tr>
	{% for d in documents %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td>{{d.title}}</td>
			<td class="center">{{d.category.name}}</td>
			<td><a href="/d/{{d.id}}">{{d.filename}}</a></td>
			<td><a class="copy" title="/d/{{d.id}}" href="javascript:;">Copy</a></td>
			<td class="center">{{d.creator}}</td>
			<td class="center">{{d.last_edited_by}}</td>
			<td>{{d.last_modified}}</td>
			<td ><a href="{% url doc_edit %}{{d.id}}">Edit</a></td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}